* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  padding: 1rem 3rem 0 3rem;
}

header div {
  display: inline-block;
  font-size: 2.5rem;
}

header span {
  color: #333;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  font-family: monospace;
  font-size: 0.9rem;
}

select,
option {
  padding: 0.2rem 0.3rem;
  border-radius: 0;
  border: none !important;
  font-weight: bold;
  background: #666;
  color: #fff;
  outline: none !important;
}

.ide-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 35rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
}

.ide-fields .ip {
  height: 100%;
  width: 150%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ide-fields .ip .title {
  background: #444;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ide-fields #code {
  height: 100%;
  width: 100%;
}

.ide-fields .io {
  background: #ccc;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ide-fields .io .ip {
  width: 100%;
}

.ide-fields .io #inp,
.ide-fields .io #out {
  height: 90%;
  width: 100%;
}

.ide-fields textarea {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-family: monospace;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.2rem;
}

button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

#Compile {
  background: #190;
  color: #fff;
  font-weight: bold;
}

.outer {
  position: relative;
  background: #dddddd;
  width: 100%;
  height: 0.5rem;
}

.inner {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  background: #2255ff;
  width: 1%;
  height: 0.5rem;
}

.yy {
  background: yellow;
}

.gg {
  background: #1fbb00;
}

.rr {
  background: red;
}

.red {
  color: red;
}

.yellow {
  color: #b5b800;
}
/*# sourceMappingURL=style.css.map */